:root {
	--jp-icon-post-gist: url('icons/postGistIcon.svg');
	--jp-icon-delete-gist: url('icons/deleteGistIcon.svg');
	--jp-icon-copy-url-gist: url('icons/copyURLGistIcon.svg');
}

.jp-Gist-PostGistButton {
	content: var(--jp-icon-post-gist);
}

.jp-Gist-DeleteGistButton {
	content: var(--jp-icon-delete-gist);
}

.jp-Gist-CopyURLGistButton {
	content: var(--jp-icon-copy-url-gist);
}