:root {
	--jp-icon-post-gist: url('icons/postGistIcon.svg');
	--jp-icon-delete-gist: url('icons/deleteGistIcon.svg');
	--jp-icon-copy-url-gist: url('icons/copyURLGistIcon.svg');
}

.jp-Toolbar-button.jp-PostGistButton {
	background-image: var(--jp-icon-post-gist);
}

.jp-Toolbar-button.jp-DeleteGistButton {
	background-image: var(--jp-icon-delete-gist);
}

.jp-Toolbar-button.jp-CopyURLGistButton {
	background-image: var(--jp-icon-copy-url-gist);
}